{
  "settings": {
    "react": {
      "pragma": "React",
      "version": "detect"
    },
    "import/resolver": {
      "webpack": {
        "config": "./config/webpack/webpack.common.js"
      }
    }
  }
}